.home-image img {
          height: 500px;
          width: 600px;
}

.home-article {
          margin-top: 200px;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 200px;
}